
body{
    background-color: #e8c9a0;   
}
header{
	width: 100%;
}
ul.navbar{
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0cm;
	left: 2cm;
	width: 7cm;
}
ul.navbar li{
	background: chocolate;
	margin: 0.5cm 0;
	padding: 0.3cm;
	border-left: 1cm solid rgb(168, 163, 163)
}

	ul.navbar a{
		text-decoration: none;
	}
		a:link {
			color: #141414;
		}
			a:visited{
				color:rgb(241, 235, 238);
			}
				address{
					margin-top: 1cm;
					padding-top: 1cm;
					border-top: thin dotted
				}

				

			


.menu li a:hover{
	color: rgb(255, 0, 255) ;
	transition: all .3s;
	
	
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}





h1{
    
    font-family: monospace;
    color: black; 
	text-align: center;
	size: 15px;
	text-decoration: underline;
}

h2{
	font-family: monospace;
    color: fuchsia;
}

h3{
	font-family: monospace;
    color: chocolate;
}
h6{
	font-family: monospace;
    color: deeppink;
        
}

   
	p{
		text-align: center;
		color: rgba(12, 12, 11, 0.959);
		font-family: monospace;
		font-size: 25px;

    }
    	